<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{offer.user.name}}">
  <ion-content>

    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="https://graph.facebook.com/{{ offer.user.id }}/picture?type=large">
        <ionic-ratings ratingsobj='ratingsObject' class="offer_detail_ratings"></ionic-ratings>
        <h2>{{ offer.user.name }}</h2>
        <p>{{ offer.user.points }} Points</p>
      </div>
      <div class="item item-body">
        <p>Food Offered: {{ offer.food }}</p>
        <p>Location: {{ offer.location }}</p>
        <p>
          <a href="#" class="subdued">Cost of {{ offer.points }} Points</a>
          <a href="#" class="subdued">Limit of {{ offer.limit }}</a>
        </p>
      </div>
      <a class="item item-icon-left assertive" ng-click="interested()">
        <i class="icon ion-heart"></i>
        Express Interest
      </a>
    </div>




  </ion-content>
</ion-view>
