<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{offer.user.name}}">
  <ion-content>

    {{ match }}
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="https://graph.facebook.com/{{ offer.user.id }}/picture?type=normal">
        <ionic-ratings ratingsobj='ratingsObject' class="offer_detail_ratings"></ionic-ratings>
        <h2>{{ offer.user.name }}</h2>
        <p>{{ offer.user.points }} Points</p>
      </div>
      <div class="item item-body">
        <p>Food Offered: {{ offer.food }}</p>
        <p>Location: {{ offer.location }}</p>
        <p>
          <a href="#" class="subdued">Cost of {{ offer.points }} Points</a>
          <a href="#" class="subdued">Limit of {{ offer.limit }}</a>
        </p>
      </div>
      <a class="item item-icon-left assertive" ng-click="interested()" ng-show="!meta.host && !meta.matched">
        <i class="icon ion-heart"></i>
        Express Interest
      </a>
    </div>

    <div class="list" ng-if="meta.host">
      <div class="item item-divider">
        Hosting this Offer
      </div>
      <a class="item item-avatar item-icon-right" href="#/tab/offers/{{offer.id}}/{{match.id}}" ng-repeat="match in offer.matches">
        <img ng-src="https://graph.facebook.com/{{ match.guest_id }}/picture?type=normal">
        <div ng-repeat="user in users | filter:{'id': match.guest_id}:true">
          <h2>{{ user.name }}</h2>
          <p>{{ user.points }} Points</p>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

    <div class="list" ng-if="!meta.host && meta.matched">
      <div class="item item-divider">
        Interested in this Offer
      </div>
      <a class="item item-avatar  item-icon-right" href="#/tab/offers/{{offer.id}}/{{match.id}}" ng-repeat="match in offer.matches | filter:{'guest_id': user.id}:true">
        <img ng-src="https://graph.facebook.com/{{ match.guest_id }}/picture?type=normal">
        <div ng-repeat="user in users | filter:{'id': match.guest_id}:true">
          <h2>{{ user.name }}</h2>
          <p>{{ user.points }} Points</p>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>


  </ion-content>
</ion-view>
